//colore
.bg-header {
    background-color: black;
}

.bg-menu {
    background-color: rgba(0, 0, 155, 0.671);
}

.bg-card {
    background-color: rgb(224, 215, 215);
}

//colore

//utils di visualizzazione
.scroll {
    overflow-y: scroll;
}

.text-subtitle {
    color: #858585;
}

.font-home {
    font-size: 1.125rem;
}

//utils di visualizzazione